<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.idle.game.user.mybaits.generator.mapper.PlayerGameItemMapper">

    <resultMap id="BaseResultMap" type="com.cc.idle.game.user.mybaits.generator.domain.PlayerGameItemDo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="count" column="count" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,config_id,
        count
    </sql>
</mapper>
